body {
    font-family: 'Bangers', cursive;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin: 150px 0 100px 0;
}
h2  {
    text-align: center;
    font-size: 40px;
    margin: 30px;
    color: gray;
}
address {
    float: right;
    margin: 0 20px 0 0 ;
}
article {
    text-align: center;
}
.index-title {
    font-size: 40px;
    color: gray;
}
/* pc */
@media screen and (min-width: 1000px) {
  p {
    margin: 400px 0 400px 0;
  }
  img {
    width: 700px;
    margin: 5px;
  }
}
     
/* smartPhone */
@media screen and (max-width: 999px) {
  p { color:#ededed;
    margin: 700px 0 700px 0;
}
  img {
    width: 90%;
  }
}